<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
    <AppContextSwitchOverrides value="Switch.System.Net.Http.UseSocketsHttpHandler=true" />
  </runtime>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  
  <system.diagnostics>
    <switches>
      <add name="System.Net.Http" value="Warning" />
    </switches>
  </system.diagnostics>
  
  <appSettings>
    <add key="ServerId" value="windows-server-01" />
    <add key="MainServer" value="https://nexora.yourdomain.com" />
    <add key="Interval" value="30" />
    <add key="LogLevel" value="info" />
  </appSettings>
</configuration>